In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df=data.drop(['User ID'],axis=1)

In [7]:
df['Gender']=df['Gender'].apply({'Male':1,'Female':2}.get)

In [8]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       2   26            43000          0
3       2   27            57000          0
4       1   19            76000          0

In [9]:
x=df[['Gender','Age','EstimatedSalary']]
y=df['Purchased']

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [81]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=11) #K=11

In [82]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=11)

In [83]:
predictions=knn.predict(x_test)

In [84]:
print(predictions)

[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0
 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 1]

In [85]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,predictions) #ytest=y, predictions=yhat
ac=accuracy_score(y_test,predictions) #ytest=y, predictions=yhat

In [86]:
print(cm)

[[55  4]
 [ 9 12]]

In [87]:
print(ac)

0.8375