In [43]:
import numpy as np
import pandas as pd
import seaborn as snr

In [44]:
data=pd.read_csv("/content/sample_data/Housing (1).csv")

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [46]:
data.isnull()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,False,False,False,False,False,False,False,False,False,False,False,False,False
541,False,False,False,False,False,False,False,False,False,False,False,False,False
542,False,False,False,False,False,False,False,False,False,False,False,False,False
543,False,False,False,False,False,False,False,False,False,False,False,False,False
544,False,False,False,False,False,False,False,False,False,False,False,False,False

In [47]:
data.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [48]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [49]:
data.fillna(data.median())

<ipython-input-49-dd263c1bfef6>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.fillna(data.median())

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [50]:
data['mainroad']=data['mainroad'].apply({'yes':1,'no':0}.get)
data['basement']=data['basement'].apply({'yes':1,'no':0}.get)
data['guestroom']=data['guestroom'].apply({'yes':1,'no':0}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'yes':1,'no':0}.get)
data['airconditioning']=data['airconditioning'].apply({'yes':1,'no':0}.get)
data['prefarea']=data['prefarea'].apply({'yes':1,'no':0}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'furnished':1,'semi-furnished':2,'unfurnished':3}.get)

In [51]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,2
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1

In [52]:
x=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
y=data[['price']]

In [53]:
from sklearn.model_selection import train_test_split

In [54]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [55]:
x_train.shape

(436, 12)

In [56]:
y_train.shape

(436, 1)

In [57]:
x_test.shape

(109, 12)

In [58]:
y_test.shape

(109, 1)

In [64]:
from sklearn.linear_model import LinearRegression
lregression=LinearRegression()

In [71]:
from sklearn.ensemble import RandomForestRegressor
rfregression=RandomForestRegressor(n_estimators=50,random_state=0)

In [72]:
lregression.fit(x_train,y_train)

LinearRegression()

In [73]:
rfregression.fit(x_train,y_train)

<ipython-input-73-954c12fcb989>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfregression.fit(x_train,y_train)

RandomForestRegressor(n_estimators=50, random_state=0)

In [74]:
lregression.predict(x_test)

array([[3575156.30411725],
       [2820318.77018618],
       [1988066.26296667],
       [6086819.34174595],
       [3717180.32595711],
       [6599186.51791838],
       [5161222.15334596],
       [4856002.08900617],
       [5416596.37419019],
       [7243853.15050467],
       [4030182.99448786],
       [4266243.97196279],
       [4987911.0473815 ],
       [6918510.40384344],
       [4983020.87867994],
       [2936798.40662453],
       [6459054.38278125],
       [3999816.85998079],
       [5033825.07772985],
       [2810419.87689416],
       [4231527.72772447],
       [2623671.7315577 ],
       [2221968.11663104],
       [4397233.57477157],
       [4543376.48111094],
       [7424362.95253527],
       [3336089.52085448],
       [3976302.99045981],
       [5219982.09154395],
       [3663701.93463107],
       [3105343.38115328],
       [3006280.12274224],
       [2886212.87653418],
       [6350731.98416828],
       [3042431.50182779],
       [3987035.75484014],
       [2719794.56228571],
       [5265754.88073811],
       [6649487.99182469],
       [6500723.16268151],
       [3454718.33769632],
       [3965115.16618427],
       [3132241.73566509],
       [5325986.64207231],
       [5829819.23778913],
       [2619191.61447308],
       [3443031.31536063],
       [4500155.34809489],
       [2594040.87751992],
       [2801851.64688001],
       [4629595.73903435],
       [4059045.09835679],
       [3840340.19711542],
       [4851401.11628652],
       [3585502.16985274],
       [2147773.44261923],
       [4830683.93613996],
       [2564219.78767556],
       [2631515.47558013],
       [3508429.20924589],
       [2609448.50918834],
       [3296488.98199728],
       [2752766.36486235],
       [6328973.54356664],
       [6445322.11529883],
       [4540755.34182299],
       [3707118.46393283],
       [2994970.13803183],
       [2513558.51926981],
       [5458584.95846636],
       [6053809.5219901 ],
       [5428782.65243774],
       [3954712.14500409],
       [3878215.11634249],
       [8080644.97863589],
       [5691548.01321675],
       [5950296.36676652],
       [3150581.23796939],
       [5004148.14210172],
       [3344933.81030465],
       [4435905.23760218],
       [3815350.8616515 ],
       [4259914.9427655 ],
       [7020118.36754334],
       [3651823.44682148],
       [2078526.25442097],
       [5840048.64173306],
       [6984933.82244055],
       [3618280.78946892],
       [2911649.23691438],
       [2669493.0883794 ],
       [7809964.88112409],
       [3898080.38185657],
       [4748486.86800629],
       [3625338.79111908],
       [4861384.63297286],
       [5699936.93478651],
       [5249757.90075886],
       [8073775.78954815],
       [3065102.20202822],
       [3472822.24810277],
       [5298132.95362785],
       [3355081.06656657],
       [3419250.35392327],
       [3747082.11556129],
       [3898294.72021179],
       [6486159.36984839],
       [2759093.82681662],
       [3811544.40826183]])

In [76]:
rfregression.predict(x_test)

array([ 3615640.        ,  3082940.        ,  2424100.        ,
        5364800.        ,  4416860.        ,  6811700.        ,
        5569550.        ,  4818660.        ,  5985420.        ,
        7764400.        ,  4157720.        ,  4526200.        ,
        4252150.        ,  7086100.        ,  4378640.        ,
        3547040.        ,  7404460.        ,  3855040.        ,
        5414500.        ,  3275766.66666667,  3441491.66666667,
        3372320.        ,  3049643.33333333,  5175520.        ,
        3563420.        ,  8284875.2       ,  3214869.        ,
        4366110.        ,  4410980.        ,  3620400.        ,
        4016950.        ,  2905490.        ,  3593520.        ,
        5868100.        ,  3532760.        ,  4352600.        ,
        3266083.33333333,  5533080.        ,  6542620.        ,
        6259470.        ,  3940813.33333333,  3953670.        ,
        2925146.        ,  5057640.        ,  5869640.        ,
        2285150.        ,  3940160.        ,  4195380.        ,
        2454900.        ,  3001950.        ,  4200840.        ,
        4332953.33333333,  3523240.        ,  5036920.        ,
        3838870.        ,  2940641.66666667,  4841060.        ,
        2973600.        ,  3006908.33333333,  3752840.        ,
        2575713.        ,  3629500.        ,  3499300.        ,
        6216560.        ,  4853310.        ,  3368260.        ,
        3272920.        ,  2837660.        ,  2790200.        ,
        5261760.        ,  5580260.        ,  5567380.        ,
        4045720.        ,  4386480.        ,  7317800.        ,
        5143880.        ,  4410140.        ,  2947700.        ,
        5243280.        ,  3770480.        ,  4445000.        ,
        4621120.        ,  4437860.        ,  6797560.        ,
        4167730.        ,  3235003.33333333,  4554060.        ,
        7626337.6       ,  4094603.33333333,  2903243.        ,
        3024175.        ,  7467600.        ,  3978333.33333333,
        4424980.        ,  4194470.        ,  5018860.        ,
        4988200.        ,  4682020.        , 10319400.        ,
        3823890.        ,  3186400.        ,  4938780.        ,
        3518620.        ,  4019680.        ,  3708670.        ,
        3677660.        ,  5397770.        ,  3367000.        ,
        3695731.66666667])

In [77]:
lregression.score(x,y)

0.6768445885702572

In [78]:
rfregression.score(x,y)

0.8947347620210201

In [79]:
new_data={'area':7420,'bedrooms':4,'bathrooms':2,'stories':3,'mainroad':1,'guestroom':0,	'basement':0,	'hotwaterheating':0,	'airconditioning':1,	'parking':2	,'prefarea':1,'furnishingstatus':1}

In [80]:
new=pd.DataFrame(new_data,index=[1])

In [81]:
lregression.predict(new)

array([[8340373.60125163]])

In [82]:
rfregression.predict(new)

array([11375000.])