In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/3.01. Country clusters.csv")

In [ ]:
data.head(10)

     Country  Latitude  Longitude Language
0        USA     44.97    -103.77  English
1     Canada     62.40     -96.80  English
2     France     46.75       2.40   French
3         UK     54.01      -2.53  English
4    Germany     51.15      10.40   German
5  Australia    -25.45     133.11  English

In [ ]:
new_data=data.iloc[:,1:3] #all the rows for 1st and 2nd column

In [ ]:
new_data.head()

   Latitude  Longitude
0     44.97    -103.77
1     62.40     -96.80
2     46.75       2.40
3     54.01      -2.53
4     51.15      10.40

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans=KMeans(3) #here 3 indicates the number of clusters

In [ ]:
kmeans.fit(new_data) #training takes place with the entire data we have

KMeans(n_clusters=3)

In [ ]:
identified_clusters=kmeans.fit_predict(new_data)

In [ ]:
identified_clusters

array([1, 1, 0, 0, 0, 2], dtype=int32)